<style scoped>
    /* 翻页角标*/
    span{
        font-weight:bold;
    }
    .el-select {
        float:left;
    }
    .el-pagination .btn-prev {
    padding-right: 12px!important;
    float: right!important;
}
</style>